.pokeCard {
  break-inside: avoid;
  flex-basis: 20%;
  margin: 10px;
  background-color: rgba(255, 255, 224, 0.85);
  border-radius: 25px;
  padding: 20px 0;
}

.pokeCard h2 {
  margin-bottom: 5px;
}

.pokeCard a {
  text-decoration: none;
  color: darkslategrey;
}

.pokeCard a:hover,
.pokeCard a:focus {
  color: rgb(0, 115, 255);
}

.pokeImg {
  width: 12em;
  max-height: 10em;
  margin: 10px;
  transition: transform 0.2s;
}

.pokeImg:hover {
  transform: scale(1.2);
}
